@import '../../tokens/tokens.scss';
@import '../../tokens/global.scss';

.dropdownWithSearch {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  &.disabled {
    opacity: 0.4;
    pointer-events: none;
  }

  label {
    margin-bottom: $spacing-xxs;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .container {
    position: relative;
  }

  .select {
    [class$='-control'] {
      background-color: transparent !important;
      border: none !important;
      margin: 0 !important;
      padding: 0 !important;
      box-shadow: none !important;
      outline: none !important;

      [class$='-ValueContainer'] {
        width: 100% !important;
        font-family: $fontFamily, sans-serif !important;
        line-height: 150% !important;
        font-weight: 500 !important;
        font-size: $spacing-m !important;
        white-space: pre-line !important;
        padding: $spacing-s $spacing-xxl $spacing-s $spacing-m !important;
        border-radius: $radius-circle !important;
        background-color: $color-white !important;
        border: 1px solid $color-grey-200 !important;
        outline: none !important;
        appearance: none !important;
        background-repeat: no-repeat !important;
        background-position: right $spacing-m center !important;
        background-size: $size-l !important;

        &:hover {
          border: 1px solid $color-primary-600 !important;
        }

        [class$='-singleValue'] {
          margin: 0 !important;
          padding: 0 !important;
          color: black !important;
        }

        [class$='-Input'] {
          margin: 0 !important;
          padding: 0 !important;
          color: black !important;
        }
      }

      [class$='-IndicatorsContainer'] {
        display: none !important;
      }
    }
  }

  &.darkMode {
    label {
      color: $color-grey-200;
    }

    .select {
      [class$='-ValueContainer'] {
        background-color: rgba(255, 255, 255, 0.1) !important;
        border: 1px solid transparent !important;
        color: $color-white !important;

        [class$='-singleValue'] {
          color: $color-white !important;
        }

        [class$='-Input'] {
          color: $color-white !important;
        }
      }
    }

    .dropdownIcon {
      color: $color-white;
    }

    .errorIcon {
      color: $color-destructive-300;
    }
  }

  &.overWhite {
    .select {
      [class$='-ValueContainer'] {
        background-color: $color-grey-100 !important;
        border: 1px solid $color-grey-300 !important;
      }
    }
  }

  .select {
    &.focused {
      [class$='-ValueContainer'] {
        box-shadow: $shadow-input !important;
        border: 1px solid $color-primary-600 !important;
      }
    }

    &.success {
      [class$='-ValueContainer'] {
        border: 1px solid $color-semantic-success !important;
      }
    }

    &.error {
      [class$='-ValueContainer'] {
        border: 1px solid $color-semantic-error !important;
      }
    }
  }

  .ctmDropdownMenu {
    padding: $spacing-m 0 !important;
    border-radius: $spacing-m !important;
    margin: $spacing-m 0 !important;
    background-color: $color-white !important;

    [class$='-MenuList'] {
      padding-top: 0 !important;
      padding-bottom: 0 !important;

      div {
        font-family: $fontFamily, sans-serif !important;
        line-height: 150% !important;
        font-weight: 500 !important;
        font-size: $spacing-m !important;
        white-space: pre-line !important;
        padding: $spacing-s !important;
        color: black !important;

        &.focused {
          background-color: $color-grey-100 !important;
        }

        &.selected {
          background-color: $color-primary-400 !important;
        }
      }
    }
  }

  &.darkMode {
    .ctmDropdownMenu {
      background-color: #1a1a1a !important;
      border: 1px solid transparent !important;
      color: $color-white !important;

      [class$='-MenuList'] {
        div {
          color: $color-white !important;

          &.focused {
            background-color: rgba(255, 255, 255, 0.2) !important;
          }

          &.selected {
            background-color: $color-primary-400 !important;
            color: black !important;
          }
        }
      }
    }
  }

  &.overWhite {
    .ctmDropdownMenu {
      background-color: $color-grey-100 !important;
      border: 1px solid $color-grey-300 !important;

      [class$='-MenuList'] {
        div {
          &.focused {
            background-color: $color-grey-200 !important;
          }
        }
      }
    }
  }

  .errorIcon,
  .dropdownIcon {
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    min-height: 100%;
    width: $spacing-xxl;
    padding: $spacing-s;
    color: $color-black-800;
  }

  .errorIcon {
    right: $spacing-xl;
    color: $color-semantic-error;
  }
}
