@import '~ctm-design-system/dist/tokens';

.app {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: $color-background;

  &.darkMode {
    background-color: black;
  }

  &.whiteBackground {
    background-color: white;
  }

  .form {
    width: 100%;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .group {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .fileInput {
    width: 33%;
  }
}
