@import '../../tokens/tokens.scss';
@import '../../tokens/global.scss';

.input {
  position: relative;
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100%;
  max-width: 100%;

  &.disabled {
    pointer-events: none;
    opacity: 0.4;
  }

  &.overWhite {
    input {
      background-color: $color-grey-100;
      border: 1px solid $color-grey-300;
    }
  }

  &.darkMode {
    label {
      color: $color-grey-200;
    }

    input {
      background-color: rgba(255, 255, 255, 0.1);
      color: $color-white;
      border: 1px solid transparent;
    }

    .errorIcon {
      color: $color-destructive-300;
    }
  }

  label {
    max-width: 100%;
    overflow: hidden;
    margin-bottom: $spacing-xxs;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .container {
    position: relative;
  }

  input {
    height: fit-content;
    width: 100%;
    background-color: $color-white;
    border: 1px solid $color-grey-200;
    border-radius: $radius-circle;
    outline: none;
    padding: $spacing-s $spacing-m;
    font-family: $fontFamily, sans-serif;
    font-size: $spacing-m;
    font-weight: 500;
    line-height: 150%;
    white-space: pre-line;

    @include for-mouse {
      &:hover {
        border: 1px solid $color-primary-600;
      }
    }

    &::placeholder {
      color: $color-grey-400;
    }

    &.success {
      border: 1px solid $color-semantic-success !important;
    }

    &.error {
      border: 1px solid $color-semantic-error !important;
    }

    &:focus,
    &:focus-visible {
      box-shadow: $shadow-input;
      border: 1px solid $color-primary-600;
    }

    &[type='number']::-webkit-outer-spin-button,
    &[type='number']::-webkit-inner-spin-button {
      margin: 0;
      -webkit-appearance: none;
      appearance: none;
    }
    &[type='number'] {
      -moz-appearance: textfield;
      appearance: none;
    }
  }

  .errorIcon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    min-height: 100%;
    width: $spacing-xxl;
    padding: $spacing-s;
    color: $color-semantic-error;
  }
}
