@import '../../tokens/tokens.scss';

.button {
  position: relative;
  width: fit-content;
  padding: $spacing-s $spacing-m;
  border: none;
  outline: none;
  border-radius: $radius-circle;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: fit-content;

  &.fullWidth {
    width: 100%;
  }

  &.disabled {
    opacity: 0.4;
    pointer-events: none;
  }

  &.loading {
    pointer-events: none;

    .container {
      opacity: 0;
    }
  }

  .loadingIcon {
    position: absolute;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $spacing-xs;

    .icon {
      svg {
        height: $size-l;
        width: $size-l;
        min-height: $size-l;
        min-width: $size-l;
        max-height: $size-l;
        max-width: $size-l;
      }
    }

    .label {
      white-space: nowrap;
      text-decoration: none !important;
    }
  }

  &.primary {
    background-color: $color-secondary-800;
    color: $color-white;

    .loadingIcon {
      svg {
        color: $color-white;
      }
    }

    &.darkMode {
      background-color: $color-primary-500;
      color: $color-secondary-800;

      .loadingIcon {
        svg {
          color: $color-secondary-800;
        }
      }
    }

    &:focus-visible,
    &:hover {
      background-color: $color-primary-500;
      color: $color-secondary-800;

      &.darkMode {
        background-color: $color-primary-400;
        color: $color-secondary-800;
      }
    }
  }

  &.secondary {
    background-color: transparent;
    color: $color-black-600;
    box-shadow: inset 0 0 0 2px $color-black-600;

    &.darkMode {
      color: $color-white;
      box-shadow: inset 0 0 0 2px $color-white;

      .loadingIcon {
        svg {
          color: $color-white;
        }
      }
    }

    &:focus-visible,
    &:hover {
      color: $color-secondary-800;
      background-color: $color-primary-500;
      box-shadow: inset 0 0 0 2px $color-black-800;

      &.darkMode {
        color: $color-black-800;
        box-shadow: inset 0 0 0 2px $color-grey-100;
        background-color: $color-grey-100;
      }
    }
  }

  &.minimal {
    background-color: transparent;
    color: $color-primary-800;

    .loadingIcon {
      svg {
        color: $color-primary-800;
      }
    }

    &.loading {
      background-color: $color-primary-400;
    }

    &.darkMode {
      color: $color-primary-500;

      .loadingIcon {
        svg {
          color: $color-primary-500;
        }
      }

      &.loading {
        background-color: $color-black-700;
      }
    }

    &:focus-visible,
    &:hover {
      background-color: $color-primary-400;
      color: $color-secondary-800;

      &.darkMode {
        background-color: $color-black-700;
        color: $color-white;
      }
    }
  }

  &.positive {
    background-color: $color-positive-600;
    color: $color-white;

    .loadingIcon {
      svg {
        color: $color-white;
      }
    }

    &.darkMode {
      background-color: $color-positive-300;
      color: $color-black-800;

      .loadingIcon {
        svg {
          color: $color-black-800;
        }
      }
    }

    &:focus-visible,
    &:hover {
      background-color: $color-positive-700;
      color: $color-white;

      &.darkMode {
        background-color: $color-positive-400;
        color: $color-black-800;
      }
    }
  }

  &.neutral {
    background-color: $color-neutral-600;
    color: $color-white;

    .loadingIcon {
      svg {
        color: $color-white;
      }
    }

    &.darkMode {
      background-color: $color-neutral-300;
      color: $color-black-800;

      .loadingIcon {
        svg {
          color: $color-black-800;
        }
      }
    }

    &:focus-visible,
    &:hover {
      background-color: $color-neutral-700;
      color: $color-white;

      &.darkMode {
        background-color: $color-neutral-400;
        color: $color-black-800;
      }
    }
  }

  &.destructive {
    background-color: $color-destructive-600;
    color: $color-white;

    .loadingIcon {
      svg {
        color: $color-white;
      }
    }

    &.darkMode {
      background-color: $color-destructive-300;
      color: $color-black-800;

      .loadingIcon {
        svg {
          color: $color-black-800;
        }
      }
    }

    &:focus-visible,
    &:hover {
      background-color: $color-destructive-700;
      color: $color-white;

      &.darkMode {
        background-color: $color-destructive-400;
        color: $color-black-800;
      }
    }
  }
}
