@import '../../tokens/tokens.scss';
@import '../../tokens/global.scss';

.checkButton {
  width: fit-content;

  label {
    position: relative;
    width: fit-content;
    display: flex;
    align-items: center;

    &.disabled {
      opacity: 0.4;
      pointer-events: none;
    }

    &.darkMode {
      @include for-mouse {
        &:hover {
          div {
            background-color: $color-primary-800;

            &.showIcon {
              background-color: rgba(255, 255, 255, 0.1);
            }
          }
        }
      }

      div {
        background-color: rgba(255, 255, 255, 0.1);
        border: 1px solid transparent;

        &.showIcon {
          svg {
            color: $color-white;
          }
        }

        &.selected {
          background-color: $color-primary-700;

          &.showIcon {
            background-color: rgba(255, 255, 255, 0.1);
          }
        }
      }
    }

    &.overWhite {
      @include for-mouse {
        &:hover {
          div {
            &.showIcon {
              background-color: $color-grey-100;
            }
          }
        }
      }

      div {
        background-color: $color-grey-100;
        border: 1px solid $color-grey-300;

        &.showIcon {
          svg {
            color: $color-black-800;
          }
        }

        &.selected {
          &.showIcon {
            background-color: $color-grey-100;
          }
        }
      }
    }

    input {
      position: absolute;
      opacity: 0;
      pointer-events: none;

      ~ div {
        &.notSelected {
          display: flex;
        }

        &.selected {
          display: none;
        }
      }

      &:checked {
        ~ div {
          &.notSelected {
            display: none;
          }

          &.selected {
            display: flex;
          }
        }
      }

      &:focus-visible {
        ~ div {
          box-shadow: $shadow-input;
        }
      }
    }

    @include for-mouse {
      &:hover {
        div {
          background-color: $color-primary-300;

          &.showIcon {
            background-color: $color-white;
          }
        }
      }
    }

    div {
      position: relative;
      width: fit-content;
      padding: $spacing-s $spacing-m;
      border: none;
      outline: none;
      border-radius: $radius-circle;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background-color: $color-white;
      user-select: none;
      gap: $spacing-xs;
      border: 1px solid $color-grey-200;

      &.showIcon {
        background-color: transparent;
        border: 1px solid transparent;
      }

      &.selected {
        background-color: $color-primary-400;

        &.showIcon {
          background-color: $color-white;
        }
      }

      svg {
        width: $size-l;
        min-width: $size-l;
        max-width: $size-l;
        height: $size-l;
        min-height: $size-l;
        max-height: $size-l;
        opacity: 0.8;
      }
    }
  }
}
